<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      rel="stylesheet"
      href="https://bootswatch.com/4/litera/bootstrap.min.css"
    />
    <title>Mynet Scraper</title>
  </head>
  <body>
    <nav class="navbar navbar-dark bg-danger mb-3">
      <div class="container">
        <a href="/" class="navbar-brand">Mynet Hisse Senedi Bilgileri</a>
      </div>
    </nav>
    <div class="container searchContainer">
      <div class="search card card-body">
        <h3>Hisse Senedi Bilgilerini Arayın</h3>
        <p class="lead">
          Bir Hisse Senedi Bilgilerini girin ve bilgilerine ulaşın!
        </p>
        <form action="/" method="post">
          <input
            type="text"
            name="share_code"
            class="form-control"
            placeholder="Hisse kodu"
          />
          <br />
          <button type="submit" class="btn btn-danger">Ara</button>
        </form>
      </div>
      <br />
      {% if profile %}
      <div id="profile">
        <div class="card card-body mb-3">
          <div class="row">
            <div class="col-md-3">
              <img
                class="img-fluid mb-2"
                src="https://img7.mynet.com.tr/mynet-logo.png"
              />
              <a
                href="https://finans.mynet.com/borsa/hisseler/"
                target="_blank"
                class="btn btn-danger btn-block mb-4"
                >Sayfaya git</a
              >
            </div>
            <div class="col-md-9">
              <ul class="list-group">
                <li class="list-group-item">Hisse kodu:{{profile.code}}</li>
                <li class="list-group-item">Hisse Adı:{{profile.name}}</li>
                <li class="list-group-item">Alış:{{profile.detail.alis}}</li>
                <li class="list-group-item">Satış:{{profile.detail.satis}}</li>
              </ul>
            </div>
          </div>
        </div>

      </div>
      {% endif %}
    </div>
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
